# ignore build output
target
/bin
# ignore eclipse files
.project
.classpath
.settings
.metadata
# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
.DS_Store

/jboss-jakartaee-all/dependency-reduced-pom.xml
